<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Ma passion de longue date pour l'art m'a poussé à explorer diverses formes d'expression artistique.
          Cette fascination m'a non seulement permis de développer un œil critique, 
          mais elle a aussi nourri en moi le désir profond de travailler dans un domaine créatif.
          Mon objectif est de mettre à profit ma créativité pour concevoir 
          des projets qui touchent et inspirent les gens, laissant ainsi une empreinte durable.
        </p>
      </div>
    </div>
  </div>
</section>