<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Compétences :</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Ma passion de longue date pour le cinéma m'a amené à développer une fascination pour le montage vidéo. Étant
          plus jeune, j'ai suivi des cours de théâtre et de cinéma, et j'ai même participé à une émission de
          téléréalité, ce qui m'a ouvert à cet univers. Mon objectif est de contribuer à la création d'œuvres
          cinématographiques et télévisuelles qui captivent et inspirent le public, laissant ainsi une empreinte.</p>
      </div>
    </div>
  </div>
</section>