<!-- Portfolio Modals -->
{% for post in site.posts %}
{% if post.modal-id %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary" />

            {% if post.vid %}
            <iframe class="img-centered" width="100%" height="100%" src="https://www.youtube.com/embed/{{ post.vid }}">
            </iframe>
            {% endif %}
            {% if post.img1%}
            <swiper-container class="swiper" navigation="true" pagination="true">
              <swiper-slide><img src="img/portfolio/{{ post.img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% if post.img2 %}
              <swiper-slide><img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img3 %}
              <swiper-slide><img src="img/portfolio/{{ post.img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img4 %}
              <swiper-slide><img src="img/portfolio/{{ post.img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img5 %}
              <swiper-slide><img src="img/portfolio/{{ post.img5 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img6 %}
              <swiper-slide><img src="img/portfolio/{{ post.img6 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img7 %}
              <swiper-slide><img src="img/portfolio/{{ post.img7 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img8 %}
              <swiper-slide><img src="img/portfolio/{{ post.img8 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img9 %}
              <swiper-slide><img src="img/portfolio/{{ post.img9 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.img10 %}
              <swiper-slide><img src="img/portfolio/{{ post.img10 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
            </swiper-container>
            {% endif %}

            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}

            {% if post.behind1%}
            <swiper-container class="swiper" navigation="true" pagination="true">
              <swiper-slide><img src="img/portfolio/{{ post.behind1 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% if post.behind2 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind2 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind3 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind3 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind4 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind4 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind5 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind5 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind6 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind6 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind7 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind7 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind8 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind8 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind9 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind9 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}
              {% if post.behind10 %}
              <swiper-slide><img src="img/portfolio/{{ post.behind10 }}" class="img-responsive img-centered" alt="{{ post.alt }}"></swiper-slide>
              {% endif %}

            </swiper-container>
            {% endif %}
          
            <ul class="list-inline item-details">
              {% if post.role %}
              <li>
                Rôle:
                <strong>{{ post.role }}</strong>
              </li>
              {% endif %} {% if post.project-date %}
              <li>
                Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %} {% if post.category %}
              <li>
                Type:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
              {% if post.logiciel %}
              <li>
                Logiciels utilisés:
                <strong>{{ post.logiciel }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}