{% include css/bootstrap.min.css %}
{% include css/main.css %}

.competence{
    color:white;
    background-color: black;
}

.swiper-button-next svg, 
.swiper-button-prev svg{
    color:#a4161a;
}

.swiper-pagination-bullet-active{
    background-color: #a4161a;
}

.swiper-button-prev {
    color: red; 
    border:2px solid black;
}

.swiper-button-next {
    color:red;
border:2px solid black;
}

:root {
    --swiper-navigation-color: red;
    --swiper-pagination-color: red;
  }