{% include css/bootstrap.min.css %}
{% include css/main.css %}

.competence{
    color:white;
    background-color: black;
}

.swiper-button-next svg, 
.swiper-button-prev svg{
    color:#a4161a;
}

.swiper-pagination-bullet-active{
    background-color: #a4161a;
}

:root {
    --swiper-navigation-color: black;
    --swiper-pagination-color: black;
  }